In [104]:
import pandas as pd

df_ladesaeulen = pd.read_csv("/Users/philippusasefaw/team02/datasets/ladesaeulenregister.csv")

df_ladesaeulen.drop(["Kreis/kreisfreie Stadt","Inbetriebnahmedatum", "Public Key1", "Public Key2", "Public Key3", "Public Key4"], axis = 1, inplace = True)

df_ladesaeulen.head(10)

,Betreiber,Straße,Hausnummer,Adresszusatz,Postleitzahl,Ort,Bundesland,Breitengrad,Längengrad,Nennleistung Ladeeinrichtung [kW],Art der Ladeeinrichung,Anzahl Ladepunkte,Steckertypen1,P1 [kW],Steckertypen2,P2 [kW],Steckertypen3,P3 [kW],Steckertypen4,P4 [kW]
0,EnBW mobility+ AG und Co.KG,Emil-von-Behring-Str.,3,NaN,22541,Brunsbüttel,Schleswig-Holstein,53.900750,9.122620,150.0,Schnellladeeinrichtung,2,DC Kupplung Combo,150,DC Kupplung Combo,150.0,NaN,NaN,NaN,NaN
1,Stadtwerke Brunsbüttel GmbH,Von Humboldt Platz,9,Bauamt Brunsbüttel,25541,Brunsbüttel,Schleswig-Holstein,53.897843,9.121495,44.0,Normalladeeinrichtung,2,AC Steckdose Typ 2,22,AC Steckdose Typ 2,22.0,NaN,NaN,NaN,NaN
2,Stadtwerke Brunsbüttel GmbH,Kaufhausstraße,1,Edeka Frauen Kundenparkplatz,25541,Brunsbüttel,Schleswig-Holstein,53.899666,9.126402,44.0,Normalladeeinrichtung,2,AC Steckdose Typ 2,22,AC Steckdose Typ 2,22.0,NaN,NaN,NaN,NaN
3,Stadtwerke Brunsbüttel GmbH,Gustav Meyer Platz,0,Vor dem Tourismus Büro Brunsbüttel,25541,Brunsbüttel,Schleswig-Holstein,53.908717,9.138646,44.0,Normalladeeinrichtung,2,AC Steckdose Typ 2,22,AC Steckdose Typ 2,22.0,NaN,NaN,NaN,NaN
4,Stadtwerke Brunsbüttel GmbH,Eddelaker Straße,123 d,NaN,25541,Brunsbüttel,Schleswig-Holstein,53.906567,9.138991,44.0,Normalladeeinrichtung,2,AC Steckdose Typ 2,22,AC Steckdose Typ 2,22.0,NaN,NaN,NaN,NaN
5,Stadtwerke Brunsbüttel GmbH,Koogstraße,61,NaN,25541,Brunsbüttel,Schleswig-Holstein,53.896652,9.139450,44.0,Normalladeeinrichtung,2,AC Steckdose Typ 2,22,AC Steckdose Typ 2,22.0,NaN,NaN,NaN,NaN
6,Eskildsen GmbH & CO KG,Eddelaker Str.,131,Kundenparkplatz,25541,Brunsbüttel,Schleswig-Holstein,53.909080,9.142234,39.6,Normalladeeinrichtung,2,DC Kupplung Combo,22,AC Steckdose Typ 2,11.0,NaN,NaN,NaN,NaN
7,Stadtwerke Brunsbüttel GmbH,Delbrückstraße,2,Krankenhaus Brunsbüttel,25541,Brunsbüttel,Schleswig-Holstein,53.900177,9.146242,44.0,Normalladeeinrichtung,2,AC Steckdose Typ 2,22,AC Steckdose Typ 2,22.0,NaN,NaN,NaN,NaN
8,WES Verwaltung & Finanzen GmbH,Westerstraße,2,NaN,25693,St.Michaelisdonn,Schleswig-Holstein,53.987512,9.113572,22.0,Normalladeeinrichtung,2,"AC Steckdose Typ 2, AC Kupplung Typ 2",22,"AC Steckdose Typ 2, AC Kupplung Typ 2",22.0,NaN,NaN,NaN,NaN
9,Sun Island Sonnenstudio / Einzelunternehmen,Westerstr.,6,NaN,25693,St.Michaelisdonn,Schleswig-Holstein,53.987133,9.113850,22.0,Normalladeeinrichtung,1,AC Steckdose Typ 2,22,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
df_prices = pd.read_csv("/Users/philippusasefaw/team02/datasets/Gasstation/price/2023-07-21-prices.csv")

df_prices.drop(["dieselchange","e5change", "e10change"], axis=1, inplace = True)

df_prices.head(50)

,date,station_uuid,diesel,e5,e10
0,2023-07-21 00:00:10+02,b78ace98-5bde-4f84-9820-8abd807e9644,1.639,1.929,1.869
1,2023-07-21 00:00:10+02,ecc1f7d9-6882-435d-83a4-8414bb0d867a,1.579,1.899,1.759
2,2023-07-21 00:00:10+02,9b79ce29-8e4d-433a-895c-09f3eb005a48,1.589,1.829,1.769
3,2023-07-21 00:00:10+02,e9a590a0-ec5f-4e2e-b82f-0379f9ccaecc,1.599,1.849,1.789
4,2023-07-21 00:00:10+02,886841e0-58e7-4454-b03c-6577af7a97e9,1.679,1.859,1.799
5,2023-07-21 00:00:10+02,ef57cb93-3d64-4689-9f78-143818a90127,1.659,1.909,1.849
6,2023-07-21 00:00:10+02,7500eb91-bb2f-490b-b921-edf3ce810934,1.659,1.949,1.889
7,2023-07-21 00:01:24+02,0ed71b80-307e-4653-9bf2-e04f3a545a51,1.639,1.899,1.839
8,2023-07-21 00:01:24+02,1998bec6-b339-4061-9e99-c270be8209d6,1.599,1.799,1.739
9,2023-07-21 00:01:24+02,74a06797-e4ce-40f7-b232-2af50da386f2,1.599,1.819,1.779
10,2023-07-21 00:01:24+02,2cab39da-2920-48e6-bc55-c5a13f4dbc6c,1.639,1.829,1.769
11,2023-07-21 00:01:24+02,105a1954-d44b-408d-b7d2-56f3d44c1c67,1.629,1.859,1.799
12,2023-07-21 00:01:24+02,40d40430-2b76-4fea-9290-ec04583696f8,1.599,1.849,0.000
13,2023-07-21 00:01:24+02,d4a4644c-cd86-42a5-9cfa-ec6c58204312,1.579,1.789,1.729
14,2023-07-21 00:02:10+02,a341cc35-27d8-4cbf-9fc1-e15c5c4f5cf9,1.589,1.849,1.789
15,2023-07-21 00:02:10+02,1ea72b31-4391-454b-9ac0-603ce8c5841b,1.609,0.000,0.000
16,2023-07-21 00:02:10+02,af903128-ecaf-412c-835a-fde57a624255,1.649,1.849,1.789
17,2023-07-21 00:02:10+02,696718ee-703b-4c93-aedc-7055e3376c06,1.548,1.818,1.768
18,2023-07-21 00:02:10+02,74be2779-7bc5-44ef-80e2-18cdbe19b570,1.619,1.849,1.789
19,2023-07-21 00:02:10+02,de1f57df-a69d-416f-a718-ddf20da5da75,1.619,1.869,0.000
20,2023-07-21 00:02:10+02,b9f0f8fb-31c8-468a-ac5d-6e52af6aa0e4,1.629,1.859,1.799
21,2023-07-21 00:02:10+02,2daa7489-283e-4be0-d25c-3e185988dfa4,1.629,0.000,0.000
22,2023-07-21 00:03:29+02,00060988-0064-4444-8888-acdc00000064,1.619,1.829,1.779
23,2023-07-21 00:03:29+02,34285c97-4e35-440b-948d-d4ba77cad74a,1.649,1.859,1.799
24,2023-07-21 00:03:29+02,fb3d413e-0a65-4dae-8176-57548ce9e7c6,1.609,1.769,1.729
25,2023-07-21 00:03:29+02,83a5fb91-e0a9-11ec-a569-005056a27fa7,1.579,1.839,1.779
26,2023-07-21 00:03:29+02,a23ffdb6-4e90-11eb-9a41-005056a2a083,1.629,1.719,1.689
27,2023-07-21 00:03:29+02,79e6e21d-6735-4e41-9958-543a31fb8afb,1.589,1.789,1.729
28,2023-07-21 00:03:29+02,a2380ebc-1b74-4ac0-9db0-9a90512513d6,1.619,1.779,1.719
29,2023-07-21 00:03:29+02,fa8baf41-dba7-42a4-bd9e-7c7676d75c7d,1.639,1.869,1.809
30,2023-07-21 00:04:08+02,3473c53b-6506-4266-8fde-7165f6636888,1.629,1.869,1.809
31,2023-07-21 00:04:08+02,6a346648-5d70-4549-8c58-a6edaec484e7,1.669,1.889,1.829
32,2023-07-21 00:04:08+02,761ff4da-7b94-4bf4-919f-8238418e90cc,1.669,1.859,1.799
33,2023-07-21 00:04:08+02,43b70689-8e74-d079-3137-4b8e45753c85,1.668,1.888,1.828
34,2023-07-21 00:04:08+02,44eb291f-06e6-4d55-8ad3-9d98ba21011f,1.559,1.799,1.739
35,2023-07-21 00:04:08+02,7f6ec850-f413-46b9-992d-0cb2671e25dd,1.599,1.799,1.739
36,2023-07-21 00:04:08+02,23be61cd-3dda-c1f3-67c1-a372ee3a2601,1.839,2.039,1.989
37,2023-07-21 00:04:08+02,00062462-a0eb-4444-8888-acdc00000001,1.679,1.909,0.000
38,2023-07-21 00:04:08+02,42c1c4f5-d8ac-4570-371c-1189205ac793,1.649,1.879,1.819
39,2023-07-21 00:05:24+02,39254885-aacf-4d3b-5909-d7db06222647,1.609,1.799,1.739
40,2023-07-21 00:05:24+02,92e793a8-a3c3-4d7c-2ecc-bf4e8469b708,1.609,1.799,1.739
41,2023-07-21 00:05:24+02,51d4b70b-a095-1aa0-e100-80009459e03a,1.589,1.799,1.739
42,2023-07-21 00:06:06+02,51d4b4bf-a095-1aa0-e100-80009459e03a,1.609,1.819,1.759
43,2023-07-21 00:06:06+02,51d4b52e-a095-1aa0-e100-80009459e03a,1.589,1.819,1.759
44,2023-07-21 00:06:06+02,400cfe48-f7b7-4312-b87d-30922e9d3113,1.619,1.779,1.729
45,2023-07-21 00:06:06+02,74688fe5-3063-47c1-aa36-27d5b4155102,1.629,1.839,1.789
46,2023-07-21 00:08:09+02,258c4cf6-a209-4b6c-e79b-fc28bd47d4a3,1.619,1.849,1.789
47,2023-07-21 00:08:09+02,957f48fb-7efb-47cf-ed1e-8df129be0c40,1.589,1.799,1.739
48,2023-07-21 00:08:09+02,34e7996b-faf2-4ff4-6afa-f376b0164e13,1.599,1.749,1.689
49,2023-07-21 00:08:09+02,6311a058-298f-428b-a4a0-2dbd2c2fb265,1.559,1.819,1.769

In [106]:
df_stations = pd.read_csv("/Users/philippusasefaw/team02/datasets/Gasstation/price/2023-07-21-stations.csv")

df_stations.drop(["first_active", "openingtimes_json"], axis = 1, inplace = True)

df_stations.head(50)

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude
0,44e2bdb7-13e3-4156-8576-8326cdd20459,bft Tankstelle,NaN,Schellengasse,53,36304,Alsfeld,50.752009,9.279039
1,0e18d0d3-ed38-4e7f-a18e-507a78ad901d,OIL! Tankstelle München,OIL!,Eversbuschstraße 33,NaN,80999,München,48.180700,11.460900
2,ad812258-94e7-473d-aa80-d392f7532218,bft Bonn-Bad Godesberg,bft,Godesberger Allee,55,53175,Bonn,50.695100,7.142760
3,eae30bf0-21dd-48cd-a369-03234fcd57df,Tankcenter Osnabrueck,Tankcenter,Wersener Str.,70,49090,Osnabrueck,52.296679,8.000490
4,eae15ca5-73c6-4989-bcbe-026ed0dcdecc,Q1 Tankstelle,Q1,Am Töpferweg,1,06917,Jessen (Elster),51.777900,13.142500
5,18a9efa8-3fd2-4366-928f-f4c5492ec86e,Aral Tankstelle,ARAL,Wolfenbütteler Straße,59,38268,Lengede,52.186603,10.339051
6,ead7db06-0364-440c-ae9f-59ca0d503a79,Ingo Bornemann,Westfalen,Loburg,58,48346,Ostbevern,52.036540,7.858580
7,0ac68306-51f5-46f8-84ef-cc4def6a1682,TotalEnergies Jarmen,TotalEnergies,Klinkenberg,28,17126,Jarmen,53.921807,13.347471
8,eac6979c-a96e-46f0-8522-a7da9bf87100,Shell Heilbronn Allee 80,Shell,Allee,80,74072,Heilbronn,49.145767,9.223725
9,eabe4d46-f7c1-4192-92c5-4b5e02bd339f,Esso Tankstelle,ESSO,SITTARDER STR. 59,,52538,SELFKANT,51.014555,5.902493
10,eabc50cf-4979-4281-be7e-ae6f2151f1b2,Shell Fredersdorf-Vogelsdorf Frankfurter Chaus...,Shell,Frankfurter Chaussee,37,15370,Fredersdorf-Vogelsdorf,52.500094,13.735878
11,1d3a9fd5-8e96-4624-a038-8328dc4fb605,BayWa Tankstelle Sonthofen I,BayWa,Hindelanger Str.,26,87527,Sonthofen,47.512030,10.290340
12,1c63438b-b1f4-48d2-8569-12ba6190405c,Shell Salzgitter Konrad-Adenauerstr. 76,Shell,Konrad-Adenauerstr.,76,38226,Salzgitter,52.152593,10.338887
13,48c2409a-832b-4291-8705-8b2f92351f3d,Fricke,AVIA,Am Ölbach,15,33334,Gütersloh,51.882300,8.452840
14,eab538d2-4a3c-44ea-883a-01ca9f65c0e6,Aral Tankstelle,ARAL,Fuldatalstraße,1,34125,Kassel,51.323520,9.513459
15,005056ba-7cb6-1ed2-bceb-bc577a5e6d4e,star Tankstelle,STAR,Hamburger Straße,141,25337,Elmshorn,53.749915,9.681535
16,005056ba-7cb6-1ed2-bceb-c552f3e1cd53,star Tankstelle,STAR,Christian-Wagner-Straße,10,07318,Saalfeld,50.658904,11.348910
17,1e74ba72-f4cc-4c1b-b197-72a158e94140,Aral Tankstelle,ARAL,Schlachthofstraße,79,56073,Koblenz,50.362890,7.574478
18,3c57e143-470c-4130-b8ea-0a775e5f081c,Shell Kaufbeuren Sudetenstr. 6,Shell,Sudetenstr.,6,87600,Kaufbeuren,47.898714,10.644375
19,ea99f82a-bef0-4b13-9a88-6c7cc433652d,Shell Rheinberg Xantener Str. 150,Shell,Xantener Str.,150,47495,Rheinberg,51.556430,6.588556
20,ea931016-f8d4-472e-aabd-3cad3a719dbd,Aral Tankstelle,ARAL,Alvensleber Landstraße,5,39340,Haldensleben,52.276306,11.389788
21,19275bf1-8186-47d8-b5eb-261431afaced,Esso Tankstelle,ESSO,SCHLOSSSTR. 161 A,,82140,OLCHING,48.198251,11.301376
22,ea8763f2-de7c-46cb-a23c-dc9a27cd22ff,"Argos Tankstelle, Alte Gladbacher Straße",Argos,Alte Gladbacher Str.,5,47805,Krefeld,51.782948,6.024595
23,5782abe0-d74f-43f0-9dfd-abf50cbb368d,Aral Tankstelle,ARAL,Rendsburger Straße,48-52,24534,Neumünster,54.082140,9.979484
24,ea795b77-936c-4104-8ac7-a039b793f10c,Raiffeisen Warengenossenschaft Ammerland-OstFr...,Raiffeisen,Wiesenser Str.,40,26605,Wiesens,53.449560,7.554493
25,ea70c85b-4c0c-4325-9854-21b5a21e0b09,Aral Tankstelle,ARAL,Alte Heerstraße,18,31863,Coppenbrügge,52.115960,9.555225
26,ea654283-dfc1-4d70-b1e0-07d3030b6f7b,Aral Tankstelle,ARAL,Schweinfurter Straße,78,97525,Schwebheim,50.004265,10.242368
27,578c44bb-9804-4c4e-af21-1e82a6d61416,CLASSIC Bad Münder - Hachmühlen,CLASSIC,Hachmühler Str.,3,31848,Bad Münder,52.162900,9.476800
28,578eccf1-d46e-4783-93da-5c2dc8eb3077,AVIA XPress Tankstelle,AVIA,Heidener Straße,1,48734,Reken,51.831800,7.040179
29,1d8ba7ea-47ee-4661-95bc-8dd8f21be862,Fricke,AVIA,Bielefelder Str.,28,32107,Bad Salzuflen,52.061000,8.733420
30,ea51dc5f-8b75-4b51-9f07-73a2ba40fdfe,Birk Becker,Westfalen,Jacob-Borchers-Str.,49 a,26340,Zetel,53.421830,7.981270
31,ea4d8d27-2f8a-459e-8298-a032abf11922,Aral Tankstelle,ARAL,Frankfurter Straße,101,15907,Lübben,51.942417,13.910870
32,ea4d0b6c-851d-4f80-8178-72edfe5828ab,Aral Tankstelle,ARAL,Kölner Straße,112,57368,Lennestadt-Grevenbrü,51.142930,8.017814
33,9b070af7-5aa5-4e88-b9fa-f30c88e34039,"bft-Tankstelle FTB, Gößnitz",bft,Altenburger Str.,146,4639,Gößnitz,50.898540,12.438800
34,578ef404-6085-47e6-82f6-27a1fd8c89d8,Tankstelle,Tankpoint,Ostring,59,25899,Niebüll,54.781884,8.851878
35,0a81eaca-da7c-4d60-9f03-9d481bc2157b,TOTAL DROCHOW,TOTAL,FREIENHUFENER ECK WEST/ A 13,NaN,01994,DROCHOW,51.569200,13.928893
36,440990ea-54e5-404f-9ff7-514f5f57defb,Michael Eierstock GmbH,Freie Tankstelle,GlonnerstraÃe,25,85625,Baiern,47.954510,11.914810
37,f9c5a22b-7c67-4469-93bc-e5e36c6f9b12,Tankstelle Muehlenbeck,Frei,Muehlenbeck,2,37574,Einbeck,51.864872,9.873777
38,ea07e3cf-7609-4c10-9b01-fd5e6f3cfede,Aral Tankstelle,ARAL,Ostring,201,46238,Bottrop,51.521896,6.952606
39,ea042c42-d166-474d-9feb-f0506b8f3836,Tankstelle Guido Stroot,freie Tankstelle,Achterhauk,20,49744,Groß Hesepe,52.626968,7.232544
40,e9fe68d3-ed46-428f-9e1c-5d4c6dd25fd2,AGRAVIS Ost GmbH & Co. KG,Raiffeisen,Bahnhofstr.,40,06909,Pretzsch,51.716710,12.802730
41,e9e4fbe0-5e51-43b1-a43a-38a2e693f8e3,Esso Tankstelle,ESSO,LANDKIRCHENER WEG 49,,23769,BURG,54.442366,11.184372
42,e9dbe860-031d-42d2-a96c-8a958df9f764,Shell Meerbusch Neusser Str. 19b,Shell,Neusser Str.,19b,40667,Meerbusch,51.242918,6.698049
43,579804cc-8283-4314-a6f0-658d55355710,Shell Muenster Steinfurter Str. 65,Shell,Steinfurter Str.,65,48149,Muenster,51.972151,7.608029
44,e9d801c8-3231-40aa-9b35-3df6ced45dee,Shell Greding A9 Greding West,Shell,A9 Greding West,NaN,91171,Greding,49.046330,11.336530
45,579d25fd-acb9-445a-9494-f7fe0fa7ce4a,Elan Berlin,ELAN,Storkower Str.,116,10407,Berlin,52.535342,13.450748
46,e9c4ed4d-b1be-4071-bc75-0401ed0aaefe,Aral Tankstelle,ARAL,Auf der Horst,64,30823,Garbsen,52.421220,9.595494
47,e9c0710b-8efa-47ac-b398-d2477f7670fb,TotalEnergies Chemnitz,TotalEnergies,Limbacher Str.,218-220,09116,Chemnitz,50.832897,12.873383
48,e9be3ec9-f84b-462e-b82c-cb6f2eb7f26f,TS Karmann tanken & mehr,TS Karmann tanken & mehr,Donauwörther Str.,40,86641,Rain am Lech,48.693969,10.909271
49,e9b9b8b5-2884-4d6c-8994-12b0140c5ec6,Shell Hockenheim A6 Am Hockenheimring West,Shell,A6 Am Hockenheimring West,NaN,68766,Hockenheim,49.321806,8.567403

In [103]:
df_zulassung_bundesland = pd.read_excel("/Users/philippusasefaw/team02/datasets/fz14_2022.xlsx", sheet_name="FZ 14.1")

df_zulassung_bundesland = df_zulassung_bundesland.drop([0,1,2,3,4,5,7,8])
df_zulassung_bundesland = df_zulassung_bundesland.rename(columns= df_zulassung_bundesland.iloc[0])
df_zulassung_bundesland = df_zulassung_bundesland.drop(df_zulassung_bundesland.columns[[0,5,8,9,10,11,12,13,15]], axis = 1)
df_zulassung_bundesland = df_zulassung_bundesland.reset_index(drop = True)
df_zulassung_bundesland["Land"] = df_zulassung_bundesland.ffill(inplace = True)
df_zulassung_bundesland = df_zulassung_bundesland.drop(df_zulassung_bundesland[df_zulassung_bundesland["Kraftstoffart"]!="Elektro (BEV)"].index, axis=0)
df_zulassung_bundesland = df_zulassung_bundesland.drop(df_zulassung_bundesland.columns[[0,9]], axis = 1)
df_zulassung_bundesland = df_zulassung_bundesland.reset_index(drop = True)
df_zulassung_bundesland.rename(columns={"Kraftomni-\nbusse": "Kraftomnibusse"}, inplace=True)

df_zulassung_bundesland.head(50)

,Land,Kraftstoffart,Krafträder,Personenkraftwagen,Kraftomnibusse,Lastkraftwagen,Zugmaschinen,Sonstige Kfz
0,Baden-Württemberg,Elektro (BEV),3536,71328,38,1473,25,133
1,Bayern,Elektro (BEV),4866,95766,71,1868,21,147
2,Berlin,Elektro (BEV),2046,10479,1,683,9,8
3,Brandenburg,Elektro (BEV),576,8164,1,267,5,3
4,Bremen,Elektro (BEV),72,2459,15,58,1,22
5,Hamburg,Elektro (BEV),305,9149,52,361,-,14
6,Hessen,Elektro (BEV),6049,47846,67,1199,4,100
7,Mecklenburg-Vorpommern,Elektro (BEV),561,3883,36,184,2,-
8,Niedersachsen,Elektro (BEV),2079,47860,103,1331,10,665
9,Nordrhein-Westfalen,Elektro (BEV),4948,104233,77,8655,53,313
10,Rheinland-Pfalz,Elektro (BEV),2478,23614,48,529,9,17
11,Saarland,Elektro (BEV),341,5861,4,99,-,2
12,Sachsen,Elektro (BEV),700,10663,38,538,-,18
13,Sachsen-Anhalt,Elektro (BEV),1315,5560,3,279,-,5
14,Schleswig-Holstein,Elektro (BEV),1516,16966,74,472,10,7
15,Thüringen,Elektro (BEV),2294,6525,3,321,3,6
16,Sonstige,Elektro (BEV),2,203,-,5,-,41
17,Deutschland,Elektro (BEV),33684,470559,631,18322,152,1501

In [107]:
df_zulassung_kraftstoffart = pd.read_excel("/Users/philippusasefaw/team02/datasets/fz14_2022.xlsx", sheet_name="FZ 14.2.1")

df_zulassung_kraftstoffart.drop([0,1,2,3,4,5,7], inplace=True)
df_zulassung_kraftstoffart.rename(columns = df_zulassung_kraftstoffart.iloc[0], inplace = True)
df_zulassung_kraftstoffart.drop(6, inplace = True)
df_zulassung_kraftstoffart.rename(columns = {"Jahr \n\n": "Jahr", "Elektro\n(BEV)" : "Elektro"}, inplace = True)
df_zulassung_kraftstoffart = df_zulassung_kraftstoffart[["Jahr", "Elektro"]].reset_index(drop= True)
df_zulassung_kraftstoffart.drop(df_zulassung_kraftstoffart.index.to_list()[18:], axis = 0, inplace = True)
df_zulassung_kraftstoffart.head(50)

    Jahr Elektro
0   2005      47
1   2006      19
2   2007       8
3   2008      36
4   2009     162
5   2010     541
6   2011    2154
7   2012    2956
8   2013    6051
9   2014    8522
10  2015   12363
11  2016   11410
12  2017   25056
13  2018   36062
14  2019   63281
15  2020  194163
16  2021  355961
17  2022  470559

In [99]:
df_zulassung_marken = pd.read_excel("/Users/philippusasefaw/team02/datasets/fz14_2022.xlsx", sheet_name="FZ 14.5")
df_zulassung_marken.drop(df_zulassung_marken.index.to_list()[:6], axis = 0, inplace = True)
df_zulassung_marken.rename(columns= df_zulassung_marken.iloc[0], inplace = True)
df_zulassung_marken = df_zulassung_marken[["Marke", "Elektro\n(BEV)"]]
df_zulassung_marken.drop(df_zulassung_marken.index.to_list()[:2], axis = 0, inplace = True)
df_zulassung_marken = df_zulassung_marken.reset_index(drop=True)
df_zulassung_marken.rename(columns = {"Elektro\n(BEV)": "Elektro"}, inplace = True)
df_zulassung_marken.head(50)

           Marke Elektro
0     ALFA ROMEO       -
1         ALPINE       -
2   ASTON MARTIN       -
3           AUDI   28322
4        BENTLEY       -
5            BMW   23470
6       CADILLAC       -
7        CITROEN    4694
8          DACIA   14369
9             DS     524
10       FERRARI       -
11          FIAT   29911
12          FORD    5790
13           GWM      15
14         HONDA     677
15       HYUNDAI   32877
16         IVECO       -
17        JAGUAR     390
18          JEEP       -
19           KIA   11456
20          LADA       -
21   LAMBORGHINI       -
22    LAND ROVER       -
23          LEVC       -
24         LEXUS      17
25         LOTUS       -
26     LYNK & CO       4
27           MAN      10
28      MASERATI       -
29         MAZDA    1815
30      MERCEDES   25182
31      MG ROEWE    8774
32      MG ROVER       -
33          MINI   11744
34    MITSUBISHI       -
35        MORGAN       -
36           NIO     498
37        NISSAN    4331
38          OPEL   29297
39       PEUGEOT   15371
40      POLESTAR    6984
41       PORSCHE    4789
42       RENAULT   27858
43   ROLLS ROYCE      42
44          SEAT   12595
45         SKODA   12194
46         SMART   12190
47     SSANGYONG     187
48        SUBARU     117
49        SUZUKI       -

In [102]:
df_zulassung_segment = pd.read_excel("/Users/philippusasefaw/team02/datasets/fz14_2022.xlsx", sheet_name="FZ 14.6")
df_zulassung_segment.drop(df_zulassung_segment.index.to_list()[:6], axis = 0, inplace = True)
df_zulassung_segment.rename(columns = df_zulassung_segment.iloc[0], inplace = True)
df_zulassung_segment = df_zulassung_segment[["Segment", "Modellreihe", "Elektro\n(BEV)"]]
df_zulassung_segment.rename(columns = {"Elektro\n(BEV)": "Elektro"}, inplace=True)
df_zulassung_segment.drop([6,7], axis=0, inplace=True)
df_zulassung_segment = df_zulassung_segment.reset_index(drop=True)
df_zulassung_segment["Segment"].ffill(inplace=True)
df_zulassung_segment.rename(columns={"Modellreihe": "Modell"}, inplace=True)
df_zulassung_segment.head(50)

                Segment                         Modell Elektro
0                 MINIS                     CITROEN C1       -
1                 MINIS                   DACIA SPRING   14366
2                 MINIS                       FIAT 500   29635
3                 MINIS                     FIAT PANDA       -
4                 MINIS                   HYUNDAI I 10       -
5                 MINIS                    KIA PICANTO       -
6                 MINIS                    PEUGEOT 108       -
7                 MINIS                 RENAULT TWINGO    8833
8                 MINIS                       SEAT MII      29
9                 MINIS                   SMART FORTWO    9700
10                MINIS                    TOYOTA AYGO       -
11                MINIS                          VW UP   13238
12                MINIS                       SONSTIGE      10
13       MINIS ZUSAMMEN                            NaN   75811
14           KLEINWAGEN                    AUDI A1, S1       -
15           KLEINWAGEN                         BMW I3    9850
16           KLEINWAGEN                     CITROEN C3       -
17           KLEINWAGEN                         DS DS3     524
18           KLEINWAGEN                    FORD FIESTA       -
19           KLEINWAGEN                      FORD PUMA       -
20           KLEINWAGEN                        HONDA E     677
21           KLEINWAGEN                     HONDA JAZZ       -
22           KLEINWAGEN                   HYUNDAI I 20       -
23           KLEINWAGEN                        KIA RIO       -
24           KLEINWAGEN                        MAZDA 2       -
25           KLEINWAGEN                      MINI MINI   11744
26           KLEINWAGEN  MITSUBISHI MIRAGE, SPACE STAR       -
27           KLEINWAGEN                    NISSAN JUKE       -
28           KLEINWAGEN                   NISSAN MICRA       -
29           KLEINWAGEN                     OPEL CORSA   14979
30           KLEINWAGEN                    PEUGEOT 208    9403
31           KLEINWAGEN                   RENAULT CLIO       -
32           KLEINWAGEN                    RENAULT ZOE   10535
33           KLEINWAGEN                     SEAT IBIZA       -
34           KLEINWAGEN                    SKODA FABIA       -
35           KLEINWAGEN                  SMART FORFOUR    2242
36           KLEINWAGEN                   SUZUKI IGNIS       -
37           KLEINWAGEN                   SUZUKI SWIFT       -
38           KLEINWAGEN                   TOYOTA YARIS       -
39           KLEINWAGEN                        VW POLO       -
40  KLEINWAGEN ZUSAMMEN                            NaN   59954
41        KOMPAKTKLASSE               AUDI A3, S3, RS3       -
42        KOMPAKTKLASSE                        BMW 1ER       -
43        KOMPAKTKLASSE                        BMW 2ER       -
44        KOMPAKTKLASSE                     CITROEN C4    3757
45        KOMPAKTKLASSE                  DACIA SANDERO       -
46        KOMPAKTKLASSE                         DS DS4       -
47        KOMPAKTKLASSE                      FIAT TIPO       -
48        KOMPAKTKLASSE                     FORD FOCUS       -
49        KOMPAKTKLASSE                    HONDA CIVIC       -

In [100]:
df_zulassung_modell = pd.read_excel("/Users/philippusasefaw/team02/datasets/fz14_2022.xlsx", sheet_name="FZ 14.7")
df_zulassung_modell.drop(df_zulassung_modell.index.to_list()[:6], inplace = True)
df_zulassung_modell.rename(columns=df_zulassung_modell.iloc[0], inplace = True)
df_zulassung_modell.drop([6,7], axis=0, inplace = True)
df_zulassung_modell = df_zulassung_modell[["Marke/Modellreihe", "Insgesamt"]].reset_index(drop=True)
df_zulassung_modell.rename(columns={"Marke/Modellreihe": "Modell"}, inplace=True)
df_zulassung_modell.head(50)

                 Modell Insgesamt
0           AUDI E-TRON     13232
1        AUDI E-TRON GT      2202
2               AUDI Q4     12406
3               AUDI Q8        21
4               BMW 4ER      3769
5               BMW 7ER       325
6                BMW I3      9850
7                BMW IX      4497
8                BMW X1       884
9                BMW X3      4141
10     CITROEN BERLINGO       799
11           CITROEN C4      3757
12        CITROEN JUMPY       138
13         DACIA SPRING     14366
14               DS DS3       524
15             FIAT 500     29635
16           FIAT DOBLO        60
17          FIAT ULYSSE       216
18  FORD MUSTANG MACH-E      5774
19              HONDA E       677
20        HYUNDAI IONIQ      1131
21       HYUNDAI IONIQ5     14080
22         HYUNDAI KONA     17029
23        JAGUAR I-PACE       390
24              KIA EV6      4736
25             KIA NIRO      5477
26             KIA SOUL      1223
27          MAZDA MX-30      1815
28       MERCEDES CITAN        20
29    MERCEDES E-KLASSE      3277
30         MERCEDES GLA      6883
31         MERCEDES GLB      6111
32    MERCEDES GLK, GLC      4328
33    MERCEDES S-KLASSE      2717
34    MERCEDES V-KLASSE      1391
35        MERCEDES VITO       452
36           MG ROEWE 4      1769
37           MG ROEWE 5      2738
38      MG ROEWE MARVEL      1316
39          MG ROEWE ZS      2951
40            MINI MINI     11744
41         NISSAN ARIYA       652
42          NISSAN LEAF      3593
43         NISSAN NV200        64
44           OPEL COMBO       817
45           OPEL CORSA     14979
46           OPEL MOKKA     12916
47     OPEL ZAFIRA LIFE       584
48          PEUGEOT 208      9403
49         PEUGEOT 2008      5425